# .env.example

# MongoDB Configuration
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/<database>

# NextAuth.js Secret
NEXTAUTH_SECRET=<your_nextauth_secret>

# Midtrans Credentials
MIDTRANS_CLIENT_KEY=<your_midtrans_client_key>
MIDTRANS_SERVER_KEY=<your_midtrans_server_key>

# Cloudinary Configuration
CLOUDINARY_URL=cloudinary://<cloud_name>:<api_key>:<api_secret>

# JWT Secret
JWT_SECRET=<your_jwt_secret>